In [14]:
import osmium
import pandas as pd

class POIHandler(osmium.SimpleHandler):
    def __init__(self):
        super().__init__()
        self.pois = []

    def node(self, n):
        if 'amenity' in n.tags:  # Change 'amenity' to relevant POI type
            self.pois.append({
                'id': n.id,
                'name': n.tags.get('name', 'Unknown'),
                'type': n.tags['amenity'],
                'lat': n.location.lat,
                'lon': n.location.lon
            })

# Load and process the .osm file
handler = POIHandler()
handler.apply_file("boston_downtown.osm")

# Convert to DataFrame for easy handling
df = pd.DataFrame(handler.pois)
print(df.head())  # Display extracted POIs

          id                                        name              type  \
0   61429995                                     Unknown  parking_entrance
1  257493571              State Police Government Center            police
2  257494627            Boston Fire Department Engine 10      fire_station
3  257535635           New England School of Law Library           library
4  257535672  Massachusetts State Transportation Library           library

         lat        lon
0  42.354647 -71.068432
1  42.359384 -71.062325
2  42.355077 -71.052996
3  42.350801 -71.066532
4  42.351709 -71.067434

In [15]:
# Query POI based on 'type' detection of type can be done using logistic regression later in the course
df[df['type'] == 'cafe'].head()

             id          name  type        lat        lon
57   1770588659  Thinking Cup  cafe  42.353689 -71.063888
66   1979657115     Starbucks  cafe  42.356387 -71.069350
83   2446048062         fooda  cafe  42.359207 -71.051311
134  3214091551      360 Cafe  cafe  42.356229 -71.061974
135  3214648820     Starbucks  cafe  42.353244 -71.057665

In [24]:
import random


'''
Try generating paths based on themes. I found this list of amenities categorized neatly which is close to our 'themes' feature.
Check https://wiki.openstreetmap.org/wiki/Key:amenity#Values
'''
# Static themes for now
themes = ['entertainment','food','education','financial']
theme_amenities = {'entertainment':['arts_centre', 'cinema','casino','arts_centre','nightclub','stage','studio','theatre','museum','park','gambling'],
         'food':['cafe','fast_food','food_court','ice_cream'],
         'education':['college','school','surf_school','research_institute','university'],
         'financial':['atm','bank','money_transfer']
         }

In [38]:

number_of_days = 1

# trying to randomize number of POIs to visit in a day
number_of_pois = random.randint(1,8) * number_of_days
print(number_of_pois)

#get random amenities to query if theme is not specified, i'm just assuming 'entertainment' for now
amenities_to_query = theme_amenities['entertainment']

# limit random samples to 'number of pois' generated earlier
filtered_df = df[df["type"].isin(amenities_to_query)].drop_duplicates().sample(n=min(number_of_pois, len(df)), random_state=42)
filtered_df.head()

'''
    This is a preliminary way of generating random point of interests on a small map.
    We'll need to look into isolating a 'city' into different zones and try and cover multiple zones with similar sampling.
'''

5

,id,name,type,lat,lon
33,367779441,Emerson Colonial Theatre,theatre,42.352310,-71.065288
41,1325838639,AMC Loews Theatres - Boston Common 19,cinema,42.353227,-71.064088
475,7618780581,Jackie Liebergott Black Box Theatre,theatre,42.353890,-71.063271
1591,12046151514,Wild Rover Bar & Nightspot,nightclub,42.359600,-71.053992
1157,9347596609,Bijou,nightclub,42.351191,-71.064151

In [ ]:
def evaluate_node():
    total_time, travel_time, spent_time = 0
    time_left =  total_time - (travel_time + spent_time)

    budget = 0
    node_cost = 0
    budget_left = budget - node_cost

    enough_time_to_reach_destination = time_left

    ratings = 0


    return time_left + budget_left + ratings